@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root{
    --color-font: #ED563B;
    --header-box : #FAFAFA;
    --first-menu: rgb(95, 103, 112);
 }
 body{
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
 }
 ul,a{
    list-style: none;
    text-decoration: none;
    color: #938787;
 }
 .mark{
    color: var(--color-font);
 }
 .container{
    width: 80%;
    margin: 0 auto;
 }

 .section-one{
    width: 100vw;
    height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
 }
 .header{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
   position: fixed ;
   top: 0 !important;
   left: 0;
   box-shadow: 10px 2px 2px rgba(0, 0, 0, 0.1);
   z-index: 100;
 }
 .back-cover{
width: 100%;
height: 100%;
min-height: 100vh;
object-fit: cover;
z-index: -1;
 }
 .header .logo h1{
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 6rem;
 }
 .nav-bar .menu {
    display: flex;
    justify-content:space-evenly;
    text-align: center;
 }
 .nav-bar .menu li{
    padding: 0 20px;
    font-size: 1rem;
    line-height: 2.5rem;
 }
 .nav-bar .menu li a:hover{
    color: #ED563B;
 }
 .sign-up{
    padding: 10px 20px;
    background-color: var(--color-font);
    margin-left: 10px;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #e56a54;
    transition: 0.2s;
 }
 .sign-up:hover{
   background-color: var(--color-font);
 }

 

 /* CONECT BADY */
 .section-one .contect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
 }
 .section-one .contect h4{
font-size: 1.125rem;
font-weight: 800;
line-height: 22px;
color: rgb(255, 255, 255);
 }
 .section-one .contect h1{
    font-size: 5.4rem;
    line-height: 7rem;
    color: white;
 }
  .btn{
    width: 12rem;
    height: fit-content;
    justify-content: center;
    background-color: var(--color-font);
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-size: .9375rem;
    color: #FAFAFA;
 }
 .btn:hover{
   background-color: hsl(9, 70%, 46%);
 }

 /* section two  */
 .section-two{
   width: 100%;
   height: 100%;
   margin-block: 7%;
 }
 .title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-block: 7%;
 }
 .title h1 {
 font-size: 1.75rem;
 font-weight: 800;
 line-height: 2.1rem;

 }
 .title img{
    font-size: 1rem;
    padding: 20px;
 }
 .title p{
    font-size: .875rem;
    font-weight: 400;
    color: rgb(122, 122, 122);
    line-height: 2rem;
 }

 /* gribs section */

 .grab-contenair{
   width: 100%;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 20px;
 justify-content: center;
 margin-block: 7%;
 }
 .grab-contenair .grip-box{
    display: flex;
    justify-items: left;
 }
 .grip-box .box-icon img{
   width: 6.25rem;
    height: 6.25rem;
 }
 .grip-box .content{
    margin-left: 5%;
    text-align: left;
 }
.grip-box .content #header{
    font-size: 1.1875rem;
     font-weight: 600;
    color:rgb(35, 45, 57);
 }
 .grip-box .content p{
    font-size: 0.875rem;
    line-height: 25px;
    font-weight: 400;
    color:  rgb(122, 122, 122);
 }
 .grip-box .content .link{
font-size: .8125rem;
font-weight: 400;
line-height: 23px;
color: var(--color-font);
 }
 /* SECTION THREE */
 .cover-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 179.688px;
    background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg");
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block: 7%;
  padding: 13rem;
 }
 
 .cover-box h1{
   font-size: 2.3rem;
   font-weight: 800;
   color: #fff;
   line-height: 3rem;
   text-wrap: wrap;
 }
 .cover-box p{
   color: #fff;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.2rem;
   margin-top: 2%;
 }
 .cover-box .btn{
margin-top: 3%;
 }

 /* section Four  */
 .gribs-container{
   display: grid;
   flex-wrap: wrap;
   grid-template-columns: repeat(3 , 1fr);
   gap: 0 5rem;
  justify-content: center;
  align-items: center;
  margin-block: 7%;
 }
 .gribs-container .left-side{
   display: flex;
   flex-direction: column;
   gap: 10px;
 }
.gribs-container .box{
   width: 100%;
   height: fit-content;
   padding: 1.3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fbfbfb;
   box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);

}
.gribs-container .box:hover{
   cursor: pointer;
   color: var(--color-font);
}
.gribs-container .box img{
   width: 35px;
   height: 35px;
   margin-left: 1rem;
}
.gribs-container .box h3{
   font-size: 1.1875rem;
   font-weight: 600;
   line-height: 29px;
   margin-left: 1rem;
}
#btn-botoom{
   display: flex;
   justify-content: center;
transition: 0.2s;
}
.btn-botoom h1{
   font-size: 19px;
   font-weight: 800;
   line-height: 29px;
   text-align: center;
   
}
#btn-botoom:hover{
   background-color: var(--color-font);
   cursor: pointer;
    color: #f5f5f5;
}


 .gribs-container .right-side{
   grid-column: 2 / -1;
   text-align: left;
   gap: 10px;
   box-sizing: border-box;

 }
 .gribs-container .right-side img{
   width: 100%;
   object-fit: cover;
 }
 .right-side H1{
   font-size: 1.4375rem;
   font-weight: 700;
   line-height: 28px;
   color-scheme: black;
   margin-block: 10px;
 }
 .right-side p{
   font-size: 0.875rem;
   font-weight: 400;
   line-height: 25px;
   color: rgb(122, 122, 122);
 }
 .right-side .btn-view{
   margin-top: 3%;
   cursor: pointer;
 }


 /* section schedule */
 .schedules{
   background:  url(" https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg");
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-block: 7%;
   color: white;
 }
 .table-schedules{
display: flex;
justify-content: center;
flex-direction: column;
padding: 20px;
margin-top: -3%;

 }
 nav.list{
   display: flex;
   justify-content: center;
   align-content: center;
   margin-bottom: 3%;
 }

 .list ul , .list {
   display: flex;
   column-gap: 20px ;
   text-transform: uppercase;
   flex-wrap: wrap;
   
 }
.list ul li:hover, .list ul li:nth-child(1){
   color: var(--color-font);
   cursor: pointer;
 }
.table{
   width: 100%;
   border-collapse: collapse;
   margin-top: -10px;

}
tr,td{
   width: 100px;
   height: 100px;
   border: 1px solid #ffffff;
 text-align: center;
 color: wheat;
}


/* section six */
.grins-expert{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 15px ;
   justify-content: center;
   align-items: center;
text-align:  left;
margin-block: 7%;
}
.grins-expert img{
   width: 100%;
   height: fit-content;
}
.grins-expert .box{
 width: 100%;
 height: 100%;
 background-color: #ffffff;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
 padding: 40px;
 justify-content: center;
 align-items: center;
}
.grins-expert .box h5{
   font-size: 0.8rem;
   font-weight: 500;
   line-height: 20px;
   margin-top: 10px;
   color: #ED563B;
}
.grins-expert .box .name{
   font-size: 1.1875rem;
   font-weight: 600;
   line-height: 23px;
   margin-top: 10px;
}
.grins-expert .box p{
   font-size: .875rem;
   color:  rgb(122, 122, 122);
   line-height: 25px;
   font-weight: 400;
   margin-top: 10px;
}
.grins-expert .box .social-media{
   margin-top: 20px;
   display: flex;
   gap: 14px;
   align-content: center;
   transition: .3s;
}
.grins-expert .box .social-media i:hover{
   color: var(--color-font);
   transform: rotate(10deg) scale(1.2);
   cursor: pointer;
}
/* footer contect */

.contect-section{
   height: 30rem;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   background-color: #f5f5f5;
}
.contect-section #iframe iframe{
   width: 100%;
   height: 100%;
}


.form-container{
   width: 100%;
   height: 100%;
background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/contact-bg.jpg");
 display: flex;
 justify-content: center;
 align-items: center;
}
.form-container .box{
   width: 70%;
   height: 85%;
   background-color: #ffffff;
   padding: 20px;
   border-radius: 10px;
}
.box input, textarea{
   width: 100%;
   height: 38px;
   padding: 0 10px;
   margin: 0 0 20px;
   border-radius: 3px;
   outline: none;
   border: 1px solid #ccc;
}
.name.emil{
   display: flex;
   gap: 10px;
}
textarea{
   height: 150px;
   resize: none;
   text-align: left;
   font-size: 1rem;
   font-weight: 500;
}



@media (min-width:240px) and (max-width: 980px) {
   .section-one{
      width: 100%;
      height: 100vh;
      flex-wrap: wrap;
   }
   .nav-bar{
      display: none;
   }
   .liner{
      width: 100%;
      height: 100%;
      z-index: -1;
       }
       .header .logo h1{
        font-size: 2rem;
        font-weight: 800;
        line-height: 6rem;
       }
   
   .section-two{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
     gap: 10px;
   }
   .section-two .grab-contenair{
      width: 100%;
      display: flex;
      flex-direction: column;

   }
/* section Three*/
.text-over{
   width: 400px;
   height: fit-content;
   text-wrap: wrap;
 }
   .gribs-container{
      width: 80%;
      display: flex;
      flex-direction: column;
     
   }
   .gribs-container .left-side{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 5%;
    }
    .contect-section{
     width: 100%;
    }
    .contect-section{
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;
      background-color: #f5f5f5;
   }
   .contect-section .box{
      width: 80%;
      height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .contect-section #iframe iframe{
      width: 100%;
      height: 400px;
   }

}




 /* https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg */